In [1]:
import pandas as pd 
from scipy.stats import zscore 
import numpy as np
from scipy import stats

In [ ]:
df = pd.read_csv(open("Z:/Sid/Sidd/studies/MS/1st Spring/DSO 562/Projects/Project 1/Data_Expert_Variables_v3.csv",'rU'), index_col = 0,engine='c')

In [4]:
df.describe()
df_col_names = list(df) 
# df.describe(include=['O']) to include only string columns 
print(df_col_names)

['BLDGCL', 'TAXCLASS', 'BORO', 'FULLVAL_1_BORO', 'ZIP3', 'ZIP', 'LOTAREA_BLDAREA_AVLAND_ZIP5', 'LOTAREA_BLDAREA_AVTOT_ZIP5', 'STADDR', 'X', 'RECORD', 'BBLE', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'LTFRONT', 'LTDEPTH', 'STORIES', 'FULLVAL', 'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2', 'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE', 'count', 'LTAREA', 'BLDAREA', 'BLDVOL_ADJ', 'FULLVAL_STORIES', 'AVTOT_AVLAND', 'FULLVAL_AVTOT', 'LOTAREA_BLDAREA', 'AVTOT_STORIES', 'AVLAND_STORIES', 'LOTAREA_BLDAREA_FULLVAL', 'LOTAREA_BLDAREA_AVTOT', 'LOTAREA_BLDAREA_AVLAND', 'FULLVAL_LTAREA', 'FULLVAL_BLDAREA', 'FULLVAL_BLDVOL', 'AVLAND_LTAREA', 'AVLAND_BLDAREA', 'AVLAND_BLDVOL', 'AVTOT_LTAREA', 'AVTOT_BLDAREA', 'AVTOT_BLDVOL', 'FULLVAL_1_ZIP5', 'FULLVAL_2_ZIP5', 'FULLVAL_3_ZIP5', 'AVLAND_1_ZIP5', 'AVLAND_2_ZIP5', 'AVLAND_3_ZIP5', 'AVTOT_1_ZIP5', 'AVTOT_2_ZIP5', 'AVTOT_3_ZIP5', 'LOTAREA_BLDAREA_FULLVAL_ZIP5', 'FULLVAL_STORIES_ZIP5', 'AVTOT_STORIES_ZIP5', 'AVLAND_STORIES_ZIP5', 'FULLVAL_1_ZIP3', 'FULLVAL_2_ZIP3', 'FULLVAL_3_ZIP3', 'AVLAND_1_ZIP3', 'AVLAND_2_ZIP3', 'AVLAND_3_ZIP3', 'AVTOT_1_ZIP3', 'AVTOT_2_ZIP3', 'AVTOT_3_ZIP3', 'LOTAREA_BLDAREA_FULLVAL_ZIP3', 'FULLVAL_STORIES_ZIP3', 'LOTAREA_BLDAREA_AVTOT_ZIP3', 'AVTOT_STORIES_ZIP3', 'LOTAREA_BLDAREA_AVLAND_ZIP3', 'AVLAND_STORIES_ZIP3', 'FULLVAL_2_BORO', 'FULLVAL_3_BORO', 'AVLAND_1_BORO', 'AVLAND_2_BORO', 'AVLAND_3_BORO', 'AVTOT_1_BORO', 'AVTOT_2_BORO', 'AVTOT_3_BORO', 'LOTAREA_BLDAREA_FULLVAL_BORO', 'FULLVAL_STORIES_BORO', 'LOTAREA_BLDAREA_AVTOT_BORO', 'AVTOT_STORIES_BORO', 'LOTAREA_BLDAREA_AVLAND_BORO', 'AVLAND_STORIES_BORO', 'FULLVAL_1_TAX', 'FULLVAL_2_TAX', 'FULLVAL_3_TAX', 'AVLAND_1_TAX', 'AVLAND_2_TAX', 'AVLAND_3_TAX', 'AVTOT_1_TAX', 'AVTOT_2_TAX', 'AVTOT_3_TAX', 'FULLVAL_1_BLD', 'FULLVAL_2_BLD', 'FULLVAL_3_BLD', 'AVLAND_1_BLD', 'AVLAND_2_BLD', 'AVLAND_3_BLD', 'AVTOT_1_BLD', 'AVTOT_2_BLD', 'AVTOT_3_BLD']

In [5]:
import re
myre = re.compile('.*\_.*')
df_revised_col_names = [x for x in df_col_names if myre.match(x)]
print(df_revised_col_names)
#bldvol_adj to be removed and record to be added

['FULLVAL_1_BORO', 'LOTAREA_BLDAREA_AVLAND_ZIP5', 'LOTAREA_BLDAREA_AVTOT_ZIP5', 'BLDVOL_ADJ', 'FULLVAL_STORIES', 'AVTOT_AVLAND', 'FULLVAL_AVTOT', 'LOTAREA_BLDAREA', 'AVTOT_STORIES', 'AVLAND_STORIES', 'LOTAREA_BLDAREA_FULLVAL', 'LOTAREA_BLDAREA_AVTOT', 'LOTAREA_BLDAREA_AVLAND', 'FULLVAL_LTAREA', 'FULLVAL_BLDAREA', 'FULLVAL_BLDVOL', 'AVLAND_LTAREA', 'AVLAND_BLDAREA', 'AVLAND_BLDVOL', 'AVTOT_LTAREA', 'AVTOT_BLDAREA', 'AVTOT_BLDVOL', 'FULLVAL_1_ZIP5', 'FULLVAL_2_ZIP5', 'FULLVAL_3_ZIP5', 'AVLAND_1_ZIP5', 'AVLAND_2_ZIP5', 'AVLAND_3_ZIP5', 'AVTOT_1_ZIP5', 'AVTOT_2_ZIP5', 'AVTOT_3_ZIP5', 'LOTAREA_BLDAREA_FULLVAL_ZIP5', 'FULLVAL_STORIES_ZIP5', 'AVTOT_STORIES_ZIP5', 'AVLAND_STORIES_ZIP5', 'FULLVAL_1_ZIP3', 'FULLVAL_2_ZIP3', 'FULLVAL_3_ZIP3', 'AVLAND_1_ZIP3', 'AVLAND_2_ZIP3', 'AVLAND_3_ZIP3', 'AVTOT_1_ZIP3', 'AVTOT_2_ZIP3', 'AVTOT_3_ZIP3', 'LOTAREA_BLDAREA_FULLVAL_ZIP3', 'FULLVAL_STORIES_ZIP3', 'LOTAREA_BLDAREA_AVTOT_ZIP3', 'AVTOT_STORIES_ZIP3', 'LOTAREA_BLDAREA_AVLAND_ZIP3', 'AVLAND_STORIES_ZIP3', 'FULLVAL_2_BORO', 'FULLVAL_3_BORO', 'AVLAND_1_BORO', 'AVLAND_2_BORO', 'AVLAND_3_BORO', 'AVTOT_1_BORO', 'AVTOT_2_BORO', 'AVTOT_3_BORO', 'LOTAREA_BLDAREA_FULLVAL_BORO', 'FULLVAL_STORIES_BORO', 'LOTAREA_BLDAREA_AVTOT_BORO', 'AVTOT_STORIES_BORO', 'LOTAREA_BLDAREA_AVLAND_BORO', 'AVLAND_STORIES_BORO', 'FULLVAL_1_TAX', 'FULLVAL_2_TAX', 'FULLVAL_3_TAX', 'AVLAND_1_TAX', 'AVLAND_2_TAX', 'AVLAND_3_TAX', 'AVTOT_1_TAX', 'AVTOT_2_TAX', 'AVTOT_3_TAX', 'FULLVAL_1_BLD', 'FULLVAL_2_BLD', 'FULLVAL_3_BLD', 'AVLAND_1_BLD', 'AVLAND_2_BLD', 'AVLAND_3_BLD', 'AVTOT_1_BLD', 'AVTOT_2_BLD', 'AVTOT_3_BLD']

82

In [6]:
del(df_revised_col_names[3]) #deleting the BLDVOL_ADJ record

In [8]:
print(df_revised_col_names) #removed bldvol_adj

['FULLVAL_1_BORO', 'LOTAREA_BLDAREA_AVLAND_ZIP5', 'LOTAREA_BLDAREA_AVTOT_ZIP5', 'FULLVAL_STORIES', 'AVTOT_AVLAND', 'FULLVAL_AVTOT', 'LOTAREA_BLDAREA', 'AVTOT_STORIES', 'AVLAND_STORIES', 'LOTAREA_BLDAREA_FULLVAL', 'LOTAREA_BLDAREA_AVTOT', 'LOTAREA_BLDAREA_AVLAND', 'FULLVAL_LTAREA', 'FULLVAL_BLDAREA', 'FULLVAL_BLDVOL', 'AVLAND_LTAREA', 'AVLAND_BLDAREA', 'AVLAND_BLDVOL', 'AVTOT_LTAREA', 'AVTOT_BLDAREA', 'AVTOT_BLDVOL', 'FULLVAL_1_ZIP5', 'FULLVAL_2_ZIP5', 'FULLVAL_3_ZIP5', 'AVLAND_1_ZIP5', 'AVLAND_2_ZIP5', 'AVLAND_3_ZIP5', 'AVTOT_1_ZIP5', 'AVTOT_2_ZIP5', 'AVTOT_3_ZIP5', 'LOTAREA_BLDAREA_FULLVAL_ZIP5', 'FULLVAL_STORIES_ZIP5', 'AVTOT_STORIES_ZIP5', 'AVLAND_STORIES_ZIP5', 'FULLVAL_1_ZIP3', 'FULLVAL_2_ZIP3', 'FULLVAL_3_ZIP3', 'AVLAND_1_ZIP3', 'AVLAND_2_ZIP3', 'AVLAND_3_ZIP3', 'AVTOT_1_ZIP3', 'AVTOT_2_ZIP3', 'AVTOT_3_ZIP3', 'LOTAREA_BLDAREA_FULLVAL_ZIP3', 'FULLVAL_STORIES_ZIP3', 'LOTAREA_BLDAREA_AVTOT_ZIP3', 'AVTOT_STORIES_ZIP3', 'LOTAREA_BLDAREA_AVLAND_ZIP3', 'AVLAND_STORIES_ZIP3', 'FULLVAL_2_BORO', 'FULLVAL_3_BORO', 'AVLAND_1_BORO', 'AVLAND_2_BORO', 'AVLAND_3_BORO', 'AVTOT_1_BORO', 'AVTOT_2_BORO', 'AVTOT_3_BORO', 'LOTAREA_BLDAREA_FULLVAL_BORO', 'FULLVAL_STORIES_BORO', 'LOTAREA_BLDAREA_AVTOT_BORO', 'AVTOT_STORIES_BORO', 'LOTAREA_BLDAREA_AVLAND_BORO', 'AVLAND_STORIES_BORO', 'FULLVAL_1_TAX', 'FULLVAL_2_TAX', 'FULLVAL_3_TAX', 'AVLAND_1_TAX', 'AVLAND_2_TAX', 'AVLAND_3_TAX', 'AVTOT_1_TAX', 'AVTOT_2_TAX', 'AVTOT_3_TAX', 'FULLVAL_1_BLD', 'FULLVAL_2_BLD', 'FULLVAL_3_BLD', 'AVLAND_1_BLD', 'AVLAND_2_BLD', 'AVLAND_3_BLD', 'AVTOT_1_BLD', 'AVTOT_2_BLD', 'AVTOT_3_BLD']
81

In [9]:
#adding record (unique identifier for each observation) to the list 
df_revised_col_names[80] = 'RECORD'
print(df_revised_col_names)

['FULLVAL_1_BORO', 'LOTAREA_BLDAREA_AVLAND_ZIP5', 'LOTAREA_BLDAREA_AVTOT_ZIP5', 'FULLVAL_STORIES', 'AVTOT_AVLAND', 'FULLVAL_AVTOT', 'LOTAREA_BLDAREA', 'AVTOT_STORIES', 'AVLAND_STORIES', 'LOTAREA_BLDAREA_FULLVAL', 'LOTAREA_BLDAREA_AVTOT', 'LOTAREA_BLDAREA_AVLAND', 'FULLVAL_LTAREA', 'FULLVAL_BLDAREA', 'FULLVAL_BLDVOL', 'AVLAND_LTAREA', 'AVLAND_BLDAREA', 'AVLAND_BLDVOL', 'AVTOT_LTAREA', 'AVTOT_BLDAREA', 'AVTOT_BLDVOL', 'FULLVAL_1_ZIP5', 'FULLVAL_2_ZIP5', 'FULLVAL_3_ZIP5', 'AVLAND_1_ZIP5', 'AVLAND_2_ZIP5', 'AVLAND_3_ZIP5', 'AVTOT_1_ZIP5', 'AVTOT_2_ZIP5', 'AVTOT_3_ZIP5', 'LOTAREA_BLDAREA_FULLVAL_ZIP5', 'FULLVAL_STORIES_ZIP5', 'AVTOT_STORIES_ZIP5', 'AVLAND_STORIES_ZIP5', 'FULLVAL_1_ZIP3', 'FULLVAL_2_ZIP3', 'FULLVAL_3_ZIP3', 'AVLAND_1_ZIP3', 'AVLAND_2_ZIP3', 'AVLAND_3_ZIP3', 'AVTOT_1_ZIP3', 'AVTOT_2_ZIP3', 'AVTOT_3_ZIP3', 'LOTAREA_BLDAREA_FULLVAL_ZIP3', 'FULLVAL_STORIES_ZIP3', 'LOTAREA_BLDAREA_AVTOT_ZIP3', 'AVTOT_STORIES_ZIP3', 'LOTAREA_BLDAREA_AVLAND_ZIP3', 'AVLAND_STORIES_ZIP3', 'FULLVAL_2_BORO', 'FULLVAL_3_BORO', 'AVLAND_1_BORO', 'AVLAND_2_BORO', 'AVLAND_3_BORO', 'AVTOT_1_BORO', 'AVTOT_2_BORO', 'AVTOT_3_BORO', 'LOTAREA_BLDAREA_FULLVAL_BORO', 'FULLVAL_STORIES_BORO', 'LOTAREA_BLDAREA_AVTOT_BORO', 'AVTOT_STORIES_BORO', 'LOTAREA_BLDAREA_AVLAND_BORO', 'AVLAND_STORIES_BORO', 'FULLVAL_1_TAX', 'FULLVAL_2_TAX', 'FULLVAL_3_TAX', 'AVLAND_1_TAX', 'AVLAND_2_TAX', 'AVLAND_3_TAX', 'AVTOT_1_TAX', 'AVTOT_2_TAX', 'AVTOT_3_TAX', 'FULLVAL_1_BLD', 'FULLVAL_2_BLD', 'FULLVAL_3_BLD', 'AVLAND_1_BLD', 'AVLAND_2_BLD', 'AVLAND_3_BLD', 'AVTOT_1_BLD', 'AVTOT_2_BLD', 'RECORD']
81

In [10]:
#subset the dataframe based on this list 

df_revised = df[df_revised_col_names]
list(df_revised)

list(df_revised) == df_revised_col_names #checking if all columns got included 
df_revised.head()

,FULLVAL_1_BORO,LOTAREA_BLDAREA_AVLAND_ZIP5,LOTAREA_BLDAREA_AVTOT_ZIP5,FULLVAL_STORIES,AVTOT_AVLAND,FULLVAL_AVTOT,LOTAREA_BLDAREA,AVTOT_STORIES,AVLAND_STORIES,LOTAREA_BLDAREA_FULLVAL,...,AVTOT_3_TAX,FULLVAL_1_BLD,FULLVAL_2_BLD,FULLVAL_3_BLD,AVLAND_1_BLD,AVLAND_2_BLD,AVLAND_3_BLD,AVTOT_1_BLD,AVTOT_2_BLD,RECORD
1,172.984639,0.014925,0.024129,371333.333333,1.713849,19.854566,4.261954,18702.666667,10912.666667,2.373909e+06,...,1.257888,1.156627,1.044901,1.070495,1.128563,1.021891,1.047183,1.162087,1.053020,186275
2,172.984639,0.001326,0.002123,410666.666667,1.687722,19.374115,3.543210,21196.666667,12559.333333,2.182617e+06,...,1.209394,1.305247,0.980308,1.004320,1.325364,0.997706,1.022399,1.343930,1.012425,988321
3,172.984639,0.021238,0.036878,368000.000000,1.815770,22.277827,4.571429,16518.666667,9097.333333,2.523429e+06,...,1.221463,1.174900,1.138482,1.166368,0.964346,0.936602,0.959782,1.052044,1.022528,850274
4,172.984639,0.007420,0.011385,366000.000000,1.559670,16.776165,5.668016,21816.666667,13988.000000,3.111741e+06,...,1.428712,0.834653,1.002791,1.027354,1.059122,1.275403,1.306969,0.992475,1.196023,1029181
5,172.984639,0.007607,0.012910,531333.333333,1.725089,20.396673,5.382775,26050.000000,15100.666667,4.290072e+06,...,1.008056,0.753942,0.860235,0.881306,0.711430,0.813596,0.833732,0.737368,0.843878,280099

In [13]:
# zscoring 
from sklearn import preprocessing 
#for zscoring, remove record column  
df_revised_withoutrecord = df_revised.loc[:, df_revised.columns != 'RECORD']
normalized_df_revised_withoutrecord = preprocessing.scale(df_revised_withoutrecord) #this converts it into a numpy ndarray 
normalized_df_revised_withoutrecord_df = pd.DataFrame(normalized_df_revised_withoutrecord)

pandas.core.frame.DataFrame

In [14]:
normalized_df_revised_withoutrecord_df.head() #just checking to see all of them are on the same scale

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,-0.636988,-0.006042,-0.006753,0.014114,-0.225211,-0.004416,-0.001179,-0.012582,-0.013169,-0.004648,...,-0.001724,0.011435,0.026604,0.007887,0.008658,0.020142,0.003681,0.004856,0.024966,0.007893
1,-0.636988,-0.006099,-0.006859,0.021219,-0.227773,-0.005534,-0.002794,-0.011726,-0.011562,-0.004676,...,-0.003220,0.009285,0.051849,-0.003459,0.000531,0.050976,-0.000386,0.002305,0.052974,0.001850
2,-0.636988,-0.006016,-0.006691,0.013512,-0.215219,0.001227,-0.000484,-0.013332,-0.014942,-0.004627,...,-0.002848,0.009820,0.029708,0.024324,0.020433,-0.005586,-0.010662,-0.004139,0.008016,0.003354
3,-0.636988,-0.006073,-0.006815,0.013150,-0.240327,-0.011584,0.001979,-0.011513,-0.010167,-0.004543,...,0.003548,0.019009,-0.028086,0.000490,0.003359,0.009263,0.046315,0.031595,-0.001159,0.029180
4,-0.636988,-0.006072,-0.006807,0.043018,-0.224109,-0.003153,0.001338,-0.010060,-0.009080,-0.004374,...,-0.009433,0.000357,-0.041795,-0.024549,-0.014578,-0.045211,-0.031348,-0.017113,-0.040452,-0.023241

In [15]:
#trying to see how many Principle Components will preserve 95 % of the variance 
from sklearn.decomposition import PCA 
pca = PCA() 
pca.fit(normalized_df_revised_withoutrecord_df)
cumsum = np.cumsum(pca.explained_variance_ratio_)
d = np.argmax(cumsum >=0.90) + 1 
print(d)
# we need 12 dimensions to preserve 90% of the variance in the data and 16 dimensions to preserve 95% variance in the data

12

In [16]:
import matplotlib.pyplot as plt 
#plotting the explained variance as a function of number of dimensions to see where the elbow is the in the data 
#Explained variance) 
plt.plot(cumsum)
plt.xlabel('Number of Components')
plt.ylabel('Cumulative Explained Variance')
plt.show()

# based on this plot, we can see that we should choose to explain around 95% of the variance in the data so we decide to go with 95% variance and 14 dimensions 
# we should also keep the other dataset as an option

In [17]:
#running pca again with 90% as the final amount of variance we want to explain in the data 
pca = PCA(n_components = 0.88) 
pca_normalized_df_revised_withoutrecord = pca.fit_transform(normalized_df_revised_withoutrecord) #fitting the pca data

In [18]:
type(pca_normalized_df_revised_withoutrecord)
pca_normalized_df_revised_withoutrecord.shape
#checked the shape 
# printing a few columns

(1048575, 10)

In [22]:
#zscoring the data again 
from scipy import stats
normalized_pca_normalized_df_revised_withoutrecord = stats.zscore(pca_normalized_df_revised_withoutrecord)
print(normalized_pca_normalized_df_revised_withoutrecord) #final dataset (PCA + ZScore + PCA) stored as an ndarray 
#convert again to a dataframe 
normalized_pca_normalized_df_revised_withoutrecord_df = pd.DataFrame(normalized_pca_normalized_df_revised_withoutrecord) 

#checking the head of the dataframe 
normalized_pca_normalized_df_revised_withoutrecord_df.head()  #sidd please check precision of the numbers (bit concerned about that)

[[-0.01489867 -0.02934    -0.0037974  ...  0.29934386  0.05640176
  -0.01196255]
 [-0.01854743 -0.02107014  0.0017473  ...  0.29253758  0.06073786
   0.01278982]
 [-0.01697964 -0.04166196 -0.00206538 ...  0.30235457  0.06048246
   0.00114467]
 ...
 [-0.04162252 -0.0546549   0.03946699 ...  0.23320993  0.1021559
   0.04551196]
 [-0.05049217 -0.07710688  0.04575114 ...  0.58637082  0.08369587
   0.06622313]
 [-0.06098441 -0.05615709  0.03336575 ... -0.51693678 -0.00918617
   0.05575895]]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,-0.014899,-0.029340,-0.003797,0.004140,-0.005446,0.014817,0.001645,0.002640,-0.010373,-0.576289,0.012446,-0.064800,0.049148,0.299344,0.056402,-0.011963
1,-0.018547,-0.021070,0.001747,0.002218,-0.004790,0.027286,-0.012798,0.012132,-0.003039,-0.576214,0.023033,-0.065973,0.060730,0.292538,0.060738,0.012790
2,-0.016980,-0.041662,-0.002065,0.003309,-0.012592,0.013843,0.004362,0.004553,-0.016377,-0.566995,0.015512,-0.056363,0.064611,0.302355,0.060482,0.001145
3,-0.019011,-0.054024,-0.003328,0.005103,-0.017375,0.001582,0.024407,0.007986,0.010867,-0.583300,0.023323,-0.075458,0.042017,0.280452,0.061678,0.022537
4,-0.028317,-0.064883,0.014185,0.008112,-0.036180,-0.027542,-0.004844,0.022030,-0.024160,-0.570419,0.021736,-0.062768,0.055647,0.289995,0.055557,0.017344

In [23]:
normalized_pca_normalized_df_revised_withoutrecord_df.to_csv('final_dat.csv')